@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --animate-wave: wave 5s linear infinite;
  --animate-collapsible-open: collapsible-open 200ms ease-in;
  --animate-collapsible-closed: collapsible-closed 200ms ease-out;
  --animate-dialog-slide-in: dialog-slide-in 200ms ease-in;
  --animate-dialog-slide-out: dialog-slide-out 200ms ease-out;
}

@keyframes dialog-slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 0;
  }
}

@keyframes dialog-slide-out {
  from {
    transform: translateX(0%);
    opacity: 0;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg) scale(100%);
    transform-origin: bottom right;
  }

  10% {
    transform: rotate(0deg) scale(110%);
  }

  15% {
    transform: rotate(-8deg) scale(110%);
  }

  25% {
    transform: rotate(8deg) scale(110%);
  }

  35% {
    transform: rotate(-8deg) scale(110%);
  }

  45% {
    transform: rotate(8deg) scale(110%);
  }

  55% {
    transform: rotate(-8deg) scale(110%);
  }

  65% {
    transform: rotate(8deg) scale(110%);
  }

  75% {
    transform: rotate(0deg) scale(110%);
  }

  85% {
    transform: rotate(0deg) scale(100%);
  }
}

@keyframes collapsible-open {
  0% {
    height: 0;
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    height: var(--radix-collapsible-content-height);
    opacity: 100%;
  }
}

@keyframes collapsible-closed {
  0% {
    height: var(--radix-collapsible-content-height);
    opacity: 100%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    height: 0;
    opacity: 0%;
  }
}
