@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: 'Myriad Pro'; 
  src: url('/fonts/myriad-pro/MYRIADPRO-REGULAR.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

:root {
  --background-gradient-dark: linear-gradient(
    90deg,
    #1c161c 0%,
    #331b33 100%
  );
  --background-gradient-light: linear-gradient(
    90deg,
    #fff7f9 0%,
    #dccbcb 100%
  ); 
  --dark-purple: #331b33; 
  --snow: #fff7f9; 
  --punchy-pink: #ff4583; 
  --storm-gray: #918a91; 
  --new-blue: #2f9f9b; 
  --primary-gradient: linear-gradient(to right, #ff4583, #e4002b); 
  --putty: #dccbcb; 
  --night: #1c161c; 
  --stone-gray: #776e6e; 
} 

@theme {
  --font-sans: var(--font-baru); 
  --font-display: var(--font-myriad);

  --color-dark-purple: #331b33; 
  --color-snow: #fff7f9; 
  --color-punchy-pink: #ff4583; 
  --color-storm-gray: #918a91; 
  --color-new-blue: #2f9f9b; 
  --color-putty: #dccbcb; 
  --color-night: #1c161c; 
  --color-stone-gray: #776e6e; 
  
  --font-brand: var(--font-brand), cursive;
  --animate-wave: wave 5s linear infinite;
  --animate-collapsible-open: collapsible-open 200ms ease-in;
  --animate-collapsible-closed: collapsible-closed 200ms ease-out;
}

@theme inline {
  --font-sans: var(--font-baru); 
  --font-display: var(--font-myriad);
}

@keyframes wave {
  0% {
    transform: rotate(0deg) scale(100%);
    transform-origin: bottom right;
  }
  10% {
    transform: rotate(0deg) scale(110%);
  }
  15% {
    transform: rotate(-8deg) scale(110%);
  }
  25% {
    transform: rotate(8deg) scale(110%);
  }
  35% {
    transform: rotate(-8deg) scale(110%);
  }
  45% {
    transform: rotate(8deg) scale(110%);
  }
  55% {
    transform: rotate(-8deg) scale(110%);
  }
  65% {
    transform: rotate(8deg) scale(110%);
  }
  75% {
    transform: rotate(0deg) scale(110%);
  }
  85% {
    transform: rotate(0deg) scale(100%);
  }
}

@keyframes collapsible-open {
  0% {
    height: 0;
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    height: var(--radix-collapsible-content-height);
    opacity: 100%;
  }
}

@keyframes collapsible-closed {
  0% {
    height: var(--radix-collapsible-content-height);
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    height: 0;
    opacity: 0%;
  }
}
